<nav class="navbar">
  <input type="checkbox" class="toggler" />
  <div class="hamburger">
    <div></div>
  </div>
  <div class="fill"></div>
  <div class="menu overlay">
    <ul>
      {% include 'utils/nav-item.html.twig' with {
        route: 'home',
        text: 'Home'|trans
      } %}
      {% include 'utils/nav-item.html.twig' with {
        route: 'about',
        text: 'About'|trans
      } %}
      {% include 'utils/nav-item.html.twig' with {
        route: 'today',
        text: "Today's Detections"|trans
      } %}
      {% include 'utils/nav-item.html.twig' with {
        route: 'spectro',
        text: 'Live Spectrogram'|trans
      } %}
      {% include 'utils/nav-item.html.twig' with {
        route: 'stats',
        text: 'Statistics'|trans
      } %}
      <li class="dropdown">
        {% include 'utils/nav-item.html.twig' with {
          route: 'records',
          text: 'Recordings'|trans
        } %}
        <ul class="dropdown-content">
          {% include 'utils/nav-item.html.twig' with {
            route: 'records_best',
            text: 'Best Recordings'|trans
          } %}
        </ul>
      </li>
      <li class="dropdown">
        <span class="dropdown-toggle">{{ "Tools"|trans }}</span>
        <ul class="dropdown-content">
          {% include 'utils/nav-item.html.twig' with {
            route: 'logs',
            text: 'View Logs'|trans
          } %}
          {% include 'utils/nav-item.html.twig' with {
            route: 'services_status',
            text: 'Status'|trans
          } %}
          {% include "utils/nav-item.html.twig" with {
            route: 'disks',
            text: 'Disks'|trans
          } %}
        </ul>
      </li>
    </ul>
  </div>
</nav>
