<nav class="navbar">
	<input type="checkbox" class="toggler">
    <div class="hamburger">
		<div></div>
	</div>
    <div class="fill"></div>
	<div class="menu overlay">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/today">Today's Detections</a>
			</li>
			<li>
				<a href="/spectro">Spectrogram</a>
			</li>
			<li>
				<a href="/stats">Species Stats</a>
			</li>
			<li class="dropdown">
				<a href="/records" class="dropdown-button">Recordings</a>
				<ul class="dropdown-content">
					<li>
						<a href="/records/bests">
							Best Recordings
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/charts">Daily Charts</a>
			</li>
			<li>
				<a href="/logs">View Logs</a>
			</li>
			<li>
				<a href="/tools">
					Tools
				</a>
			</li>
		</ul>

	</div>
	{% include "title.html.twig" %}
</nav>
