{% extends "base.html.twig" %}

{% block content %}
    <h2>{{ "Records" }}</h2>
    {% set endpoint = "records" %}
    {% include "utils/calendar.html.twig" %}
    {% if records is defined and records | length > 0 %}
        <ul>
            {% for record in records %}
                <li>{{ record }}
                    {% include "records/delete_button.html.twig" with { filename: record } only %}
                    {% include "records/player.html.twig" with { filename: record } only %}
                </li>            
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}