<div class="manager">
    <button class="button" id="select-all" title="{{ "Select all" | trans }}">
        <i data-feather="check-square"></i>
    </button>
    <button class="delete button" title="{{ "Delete selected" | trans }}">
        <i data-feather="trash-2"></i>
    </button>
</div>
