{% block content %}
    <h2>{{ "Disk usage"|trans }}</h2>
    <div class="disk">
        <span class="disk-device">
            {{ disk.device }}
        </span>
        <span>
            {{ disk.usage }}
        </span>
        <span>
            {{ disk.available }}
        </span>
    </div>
{% endblock %}
