[Unit]
Description=BirdNET-stream Analyzis

[Service]
User=<USER>
Group=<GROUP>
WorkingDirectory=<DIR>
ExecStart=bash ./daemon/birdnet_analyzis.sh
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target