# BirdNET recording script launcher service

[Unit]
Description=BirdNET-stream recording

[Service]
User=<USER>
Group=<DIR>
WorkingDirectory=<DIR>
ExecStart=bash ./daemon/birdnet_recording.sh
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
