# Configuration file for BirdNET Analyzer

# Coordinates of the recorder
LATITUDE="47.87842"
LONGITUDE="0.21826"
# Species selection list
SPECIES_LIST="./config/species_list.txt"
# Minimal confidence threshold
CONFIDENCE=0.1
# Recording duration (in seconds)
RECORDING_DURATION=15
RECORDING_AMPLIFICATION=1.5
# Chunk folder location
CHUNK_FOLDER="./var/chunks"
# Audio recording device (pulseaudio)
AUDIO_DEVICE="default"
# Virtual env for BirdNET AI with required packages
PYTHON_VENV="./.venv/birdnet-stream"
WORKDIR="/home/$USER/BirdNET-stream"
# Database location
DATABASE="./var/db.sqlite"
# DATABASE="mysql://birdnet:secret@localhost:3306/birdnet_observations" # uncomment and change 'secret' if you want to use a mariadb (mysql) database instea of sqlite
