* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container.col {
    flex-direction: column;
}

.container.row {
    flex-direction: row;
}

.grid {
    display: grid;
}

.grid > * {
    padding-left: 0.1em;
}

.behind {
    position: relative;
    z-index: -1;
}

.above {
    position: relative;
    z-index: 1;
}

body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    z-index: -10;
}

header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    /** Align text and center of image */
    justify-content: center;
    align-items: baseline;
}

header img.logo {
    width: 100px;
    height: 100px;
}

main {
    min-height: 100vh;
    padding: 5em;
}

footer {
    color: white;
    background-color: black;
    padding: 2em;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    font-style: italic;
}

/* .dropdown-button:hover {
    background-color: #900;
    color: white
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
}

.scientific-name {
    font-style: italic;
}

.dataviz img {
    max-width: 100%;
    width: 100%;
}

#statuses li {
    list-style: none;
}

#statuses .grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0.1em;
}

.status.bullet {
    border-radius: 50%;
    background-color: #999;
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    top: 0.4em;
    z-index: -1;
}

.status.inactive.bullet {
    background-color: #999;
}

.status.active.bullet {
    background-color: #090;
}

.status.dead.bullet {
    background-color: #900;
}

@media screen and (max-width: 700px) {
    main {
        padding: 1em;
    }
}

.overlay {
    z-index: 10;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}

.logs {
    background-color: black;
    color: white;
    font: monospace;
    padding: 1em;
    overflow-y: scroll;
    height: 100%;
}